<a href="https://colab.research.google.com/github/Minnehkimani/Data-Analysis/blob/main/Sales_audit_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd;

In [ ]:
import numpy as np;

In [ ]:
products_df = pd.read_csv("/Products _2024.csv");
sale_items_df = pd.read_csv("/Sale _Items.csv");
sales_df = pd.read_csv("/Sales _2024.csv");

In [ ]:
print(products_df.head(5));

       id                           code                     label     type  \
0  112305  eastnat_foods_KE_95c8pkgsllbt                 Diffusers     good
1  112307  eastnat_foods_KE_9jwwy3seipoo          30 MIN PHONECALL  service
2  112308  eastnat_foods_KE_92gqiypatk5h          1 Hour Phonecall  service
3  112402  eastnat_foods_KE_w519xpnhm1wr                 RAW HONEY     good
4  112408  eastnat_foods_KE_xj4orewe776o  BLACLSTRAP MOLASSES BULK     good

         cost   price
0  3400.00000  4900.0
1     0.00000  1000.0
2     0.00000  2000.0
3   296.25000   550.0
4    71.66667     0.0

In [ ]:
#read the last 5 rows
print(products_df.tail(5));

         id                           code  \
504  548848  eastnat_foods_KE_d6lmfsdx1i7y
505  550414  eastnat_foods_KE_kinzwtrsbcra
506  550416  eastnat_foods_KE_spoulxoeat0s
507  551144  eastnat_foods_KE_iesh0zil7rhg
508  551145  eastnat_foods_KE_rotpmae8yqjw

                                      label  type   cost  price
504                            COCONUT BULK  good    1.0    0.0
505                     Honey Dippers (big)  good    0.0  280.0
506                     Honey Dipper(small)  good    0.0  230.0
507  250g White pet jar with a silver strip  good   80.0    0.0
508  500g White pet jar with a silver strip  good  120.0    0.0

*italicized text*

In [ ]:
#sanity check of the data i.e missing values,duplicates

In [ ]:
print(products_df.shape);

(509, 6)

In [ ]:
#to check  data types
products_df.info();

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 509 entries, 0 to 508
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      509 non-null    int64
 1   code    509 non-null    object
 2   label   509 non-null    object
 3   type    509 non-null    object
 4   cost    509 non-null    float64
 5   price   412 non-null    float64
dtypes: float64(2), int64(1), object(3)
memory usage: 24.0+ KB

In [ ]:
#find missing values
print(products_df.isnull().sum());

id        0
code      0
label     0
type      0
cost      0
price    97
dtype: int64

In [ ]:
products_df['price'].dtype

dtype('float64')

In [ ]:
#to check duplicates
print(products_df.duplicated().sum());

0

In [ ]:
#to check outliers
print(products_df.describe());

                  id           cost          price
count     509.000000     509.000000     412.000000
mean   399101.406680    1084.453364    1716.882039
std    178417.379138    7042.456565   14081.910440
min    112305.000000       0.000000       0.000000
25%    146278.000000      53.360000     100.000000
50%    521854.000000     211.700000     585.000000
75%    521981.000000     560.000000    1100.000000
max    551145.000000  120000.000000  285000.000000

In [ ]:
import  pandas as pd;

In [ ]:
sale_items_df=pd.read_csv("/Sale _Items.csv");

In [ ]:
print(sale_items_df.head(5));

        id  sale_id                   product_code price  discount  total  \
0  5599181  2753805  eastnat_foods_KE_cgbr0c1ucs9k   850         0  850.0
1  5599182  2753805  eastnat_foods_KE_a5kq9ke6gc89   700         0  700.0
2  5599542  2753964  eastnat_foods_KE_txxbavvyjqq8   650         0  650.0
3  5599769  2754084  eastnat_foods_KE_5z10tyo2vxbk   950         0  950.0
4  5599792  2754095  eastnat_foods_KE_qlycxmvhtpox   500       111  500.0

    unit_cost           created_at
0  500.000000  2024-01-02 09:52:22
1  355.000000  2024-01-02 09:52:22
2  244.283600  2024-01-02 10:33:50
3   64.880525  2024-01-02 11:01:52
4  113.700000  2024-01-02 11:03:04

In [ ]:
#check last 5 rows
print(sale_items_df.tail(5));

            id  sale_id                   product_code price  discount  \
7999   8086017  4001454  eastnat_foods_KE_tndfkbcatvyf     0         0
8000  10255281  4994429  eastnat_foods_KE_dbue28eiez6z   754         0
8001  10255282  4994429  eastnat_foods_KE_47gs0u7p2o62   377         0
8002  10255283  4994429  eastnat_foods_KE_3zkbkl63fynp   900         0
8003  10255284  4994429  eastnat_foods_KE_gvmcqxcrw8by   900         0

        total  unit_cost           created_at
7999      0.0  32.866667  2024-06-29 17:36:34
8000  11310.0        NaN  2024-11-23 13:30:39
8001  11310.0        NaN  2024-11-23 13:30:39
8002    900.0        NaN  2024-11-23 13:30:39
8003    900.0        NaN  2024-11-23 13:30:39

In [ ]:
#check missing values
(sale_items_df.isnull().sum());

In [ ]:
sale_items_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8004 entries, 0 to 8003
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            8004 non-null   int64
 1   sale_id       8004 non-null   int64
 2   product_code  8004 non-null   object
 3   price         8004 non-null   object
 4   discount      8004 non-null   int64
 5   total         8004 non-null   float64
 6   unit_cost     7507 non-null   float64
 7   created_at    8004 non-null   object
dtypes: float64(2), int64(3), object(3)
memory usage: 500.4+ KB

In [ ]:
#to fill mising values ,unit cost has missing values
sale_items_df['unit_cost'].fillna(sale_items_df['unit_cost'].mean(), inplace=True);

/tmp/ipython-input-475890732.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sale_items_df['unit_cost'].fillna(sale_items_df['unit_cost'].mean(), inplace=True);

In [ ]:
sale_items_df.describe()

                 id       sale_id     discount          total    unit_cost
count  8.004000e+03  8.004000e+03  8004.000000    8004.000000  8004.000000
mean   6.734594e+06  3.319162e+06     5.754498    2636.297948   335.939563
std    7.565321e+05  3.817855e+05    51.852081   25589.949858   589.519858
min    5.599181e+06  2.753805e+06     0.000000       0.000000     0.000000
25%    6.046100e+06  2.973675e+06     0.000000     500.000000    97.517623
50%    6.654616e+06  3.272252e+06     0.000000     800.000000   182.500000
75%    7.404870e+06  3.672413e+06     0.000000     950.000000   335.939563
max    1.025528e+07  4.994429e+06  1200.000000  991584.000000  7000.000000

In [ ]:
#to chck duplicates
print(sale_items_df.duplicated().sum());

0

In [ ]:
sale_items_df.info();

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8004 entries, 0 to 8003
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            8004 non-null   int64
 1   sale_id       8004 non-null   int64
 2   product_code  8004 non-null   object
 3   price         8004 non-null   object
 4   discount      8004 non-null   int64
 5   total         8004 non-null   float64
 6   unit_cost     8004 non-null   float64
 7   created_at    8004 non-null   object
dtypes: float64(2), int64(3), object(3)
memory usage: 500.4+ KB

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
sales_df=pd.read_csv("/Sales _2024.csv")

In [ ]:
#get first 5 rows
print(sales_df.head(5))

        id  sale_ref  total_amount  amount_given  amount_paid  amount_due  \
0  2753805     15741        1550.0          1550         1550         0.0
1  2753964     15742         600.0           600          600         0.0
2  2754084     15743         799.0           799          799         0.0
3  2754095     15744         389.0           389          389         0.0
4  2754133     15745        1778.0          1778         1778         0.0

   discount           created_at
0       0.0  2024-01-02 09:52:22
1      50.0  2024-01-02 10:33:50
2     151.0  2024-01-02 11:01:52
3     111.0  2024-01-02 11:03:04
4     272.0  2024-01-02 11:09:18

In [ ]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3805 entries, 0 to 3804
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            3805 non-null   int64
 1   sale_ref      3805 non-null   int64
 2   total_amount  3805 non-null   float64
 3   amount_given  3805 non-null   int64
 4   amount_paid   3805 non-null   int64
 5   amount_due    3805 non-null   float64
 6   discount      3805 non-null   float64
 7   created_at    3805 non-null   object
dtypes: float64(3), int64(4), object(1)
memory usage: 237.9+ KB

In [ ]:
#check for duplicates
print(sales_df.duplicated().sum())

0

In [ ]:
#check for anomalies
print(sales_df.describe())

                 id      sale_ref  total_amount  amount_given   amount_paid  \
count  3.805000e+03   3805.000000  3.805000e+03   3805.000000   3805.000000
mean   3.309849e+06  17644.042050  5.759906e+03   1895.324047   1876.249671
std    3.724749e+05   1099.140355  4.364549e+04   1931.167380   1921.592929
min    2.753805e+06  15741.000000 -4.788414e+03      0.000000      0.000000
25%    2.973864e+06  16693.000000  8.500000e+02    750.000000    749.000000
50%    3.270124e+06  17644.000000  1.450000e+03   1300.000000   1300.000000
75%    3.601404e+06  18595.000000  2.696000e+03   2500.000000   2500.000000
max    4.994429e+06  20245.000000  1.090394e+06  28700.000000  28700.000000

         amount_due     discount
count  3.805000e+03  3805.000000
mean   4.221376e+03    82.727243
std    4.535634e+04   275.462833
min    0.000000e+00     0.000000
25%    0.000000e+00     0.000000
50%    0.000000e+00     0.000000
75%    0.000000e+00     0.000000
max    1.090394e+06  9100.000000

In [ ]:
#fixing negative anomaly found in total amount

In [ ]:
sales_df = sales_df.drop(sales_df[sales_df["total_amount"] < 0].index)

In [ ]:
print(sales_df.describe())

                 id      sale_ref  total_amount  amount_given   amount_paid  \
count  3.804000e+03   3804.000000  3.804000e+03   3804.000000   3804.000000
mean   3.309904e+06  17644.189537  5.762679e+03   1895.822292   1876.742902
std    3.725084e+05   1099.247198  4.365089e+04   1931.176653   1921.604648
min    2.753805e+06  15741.000000  0.000000e+00      0.000000      0.000000
25%    2.973841e+06  16692.750000  8.500000e+02    750.000000    749.000000
50%    3.270308e+06  17644.500000  1.450000e+03   1300.000000   1300.000000
75%    3.601461e+06  18595.250000  2.696250e+03   2500.000000   2500.000000
max    4.994429e+06  20245.000000  1.090394e+06  28700.000000  28700.000000

         amount_due     discount
count  3.804000e+03  3804.000000
mean   4.150735e+03    82.748991
std    4.515248e+04   275.495781
min    0.000000e+00     0.000000
25%    0.000000e+00     0.000000
50%    0.000000e+00     0.000000
75%    0.000000e+00     0.000000
max    1.090394e+06  9100.000000

In [ ]:
print((sales_df["total_amount"] < 0).sum())

0

In [ ]:
products_df=pd.read_csv("/Products _2024.csv")

In [ ]:
products_df.head(5)

,id,code,label,type,cost,price
0,112305,eastnat_foods_KE_95c8pkgsllbt,Diffusers,good,3400.00000,4900.0
1,112307,eastnat_foods_KE_9jwwy3seipoo,30 MIN PHONECALL,service,0.00000,1000.0
2,112308,eastnat_foods_KE_92gqiypatk5h,1 Hour Phonecall,service,0.00000,2000.0
3,112402,eastnat_foods_KE_w519xpnhm1wr,RAW HONEY,good,296.25000,550.0
4,112408,eastnat_foods_KE_xj4orewe776o,BLACLSTRAP MOLASSES BULK,good,71.66667,0.0

In [ ]:
products_df["label"] = products_df["label"].astype(str).str.lower().str.strip()
#to correct mixec cases to lower cases in the label column

In [ ]:
#to check correcting dta inconcistetcy
products_df.head(5)

,id,code,label,type,cost,price
0,112305,eastnat_foods_KE_95c8pkgsllbt,diffusers,good,3400.00000,4900.0
1,112307,eastnat_foods_KE_9jwwy3seipoo,30 min phonecall,service,0.00000,1000.0
2,112308,eastnat_foods_KE_92gqiypatk5h,1 hour phonecall,service,0.00000,2000.0
3,112402,eastnat_foods_KE_w519xpnhm1wr,raw honey,good,296.25000,550.0
4,112408,eastnat_foods_KE_xj4orewe776o,blaclstrap molasses bulk,good,71.66667,0.0

In [ ]:
products_df.tail(5)

,id,code,label,type,cost,price
504,548848,eastnat_foods_KE_d6lmfsdx1i7y,coconut bulk,good,1.0,0.0
505,550414,eastnat_foods_KE_kinzwtrsbcra,honey dippers (big),good,0.0,280.0
506,550416,eastnat_foods_KE_spoulxoeat0s,honey dipper(small),good,0.0,230.0
507,551144,eastnat_foods_KE_iesh0zil7rhg,250g white pet jar with a silver strip,good,80.0,0.0
508,551145,eastnat_foods_KE_rotpmae8yqjw,500g white pet jar with a silver strip,good,120.0,0.0

In [ ]:
#to correct missing value in products table
products_df["price"].fillna(products_df["price"].median(), inplace=True)

/tmp/ipython-input-2812110553.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  products_df["price"].fillna(products_df["price"].median(), inplace=True)

In [ ]:
products_df.info()
#missing values in product table corrected

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 509 entries, 0 to 508
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      509 non-null    int64
 1   code    509 non-null    object
 2   label   509 non-null    object
 3   type    509 non-null    object
 4   cost    509 non-null    float64
 5   price   509 non-null    float64
dtypes: float64(2), int64(1), object(3)
memory usage: 24.0+ KB

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
sale_items_df=pd.read_csv("/Sale _Items.csv")

In [ ]:
sales_df=pd.read_csv("/Sales _2024.csv")

In [ ]:
products_df=pd.read_csv("/Products _2024.csv")

In [ ]:
sale_items = pd.read_csv("/Sale _Items.csv")

In [ ]:

###Q1.Check the data to answer the following questions: Which top 5 products contribute 80% of revenue?
#the total in sales items table is equal to revenue
sale_items["revenue"] = sale_items["total"]

In [ ]:
products = pd.read_csv("/Products _2024.csv")

In [ ]:
merged = sale_items.merge(products,
                          left_on="product_code",
                          right_on="code",
                        how="left")
#to matche records using product_code from the sales table and code from the products table

In [ ]:
product_revenue = merged.groupby("label")["revenue"].sum().sort_values(ascending=False)
product_revenue.head(10)

label
RAW HONEY                        6.423526e+06
Honey 5liters (7 Kg)             3.426391e+06
Honey 1kg                        1.347486e+06
Refined Honey                    1.103334e+06
250g Kenbroth Collagen           1.102500e+06
REFINING HONEY                   7.484890e+05
Propolis Suspension 250ml        4.829500e+05
720ml Seamoss Tamarind Ginger    3.649000e+05
Peanut Butter (Salted) 800g      3.058040e+05
1kg Kenbroth Collagen            3.040000e+05
Name: revenue, dtype: float64

In [ ]:
#Apply 80/20 Rule (Pareto Analysis)

total_revenue = product_revenue.sum()

cumulative_revenue = product_revenue.cumsum()
cumulative_percentage = (cumulative_revenue / total_revenue) * 100

pareto_df = pd.DataFrame({
    "Revenue": product_revenue,
    "Cumulative %": cumulative_percentage
})

pareto_df.head(10)

                                    Revenue  Cumulative %
label
RAW HONEY                      6.423526e+06     30.456921
Honey 5liters (7 Kg)           3.426391e+06     46.703035
Honey 1kg                      1.347486e+06     53.092093
Refined Honey                  1.103334e+06     58.323512
250g Kenbroth Collagen         1.102500e+06     63.550977
REFINING HONEY                 7.484890e+05     67.099911
Propolis Suspension 250ml      4.829500e+05     69.389802
720ml Seamoss Tamarind Ginger  3.649000e+05     71.119962
Peanut Butter (Salted) 800g    3.058040e+05     72.569921
1kg Kenbroth Collagen          3.040000e+05     74.011326

In [ ]:
#to get products that Make Up 80%

top_80 = pareto_df[pareto_df["Cumulative %"] <= 80]
top_80.head(10)

                                    Revenue  Cumulative %
label
RAW HONEY                      6.423526e+06     30.456921
Honey 5liters (7 Kg)           3.426391e+06     46.703035
Honey 1kg                      1.347486e+06     53.092093
Refined Honey                  1.103334e+06     58.323512
250g Kenbroth Collagen         1.102500e+06     63.550977
REFINING HONEY                 7.484890e+05     67.099911
Propolis Suspension 250ml      4.829500e+05     69.389802
720ml Seamoss Tamarind Ginger  3.649000e+05     71.119962
Peanut Butter (Salted) 800g    3.058040e+05     72.569921
1kg Kenbroth Collagen          3.040000e+05     74.011326

In [ ]:
###At what time do we experience the highest peak in sales?

#to convert it to pandas datetime


sale_items["created_at"] = pd.to_datetime(sale_items["created_at"])

In [ ]:
sale_items["hour"] = sale_items["created_at"].dt.hour

In [ ]:


hourly_sales = sale_items.groupby("hour")["revenue"].sum().sort_values(ascending=False)

hourly_sales.head()

hour
10    4.629107e+06
12    3.482386e+06
9     2.438559e+06
14    2.243439e+06
15    2.097240e+06
Name: revenue, dtype: float64

In [ ]:
### Which products contribute the highest profit margins?
#Profit = Revenue - Cost
#margin percent= profit/revenue
merged["profit"] = merged["revenue"] - merged["unit_cost"]

In [ ]:
# to aggregate revenue and profit per product, calculate profit margin percentage
product_profit = merged.groupby("label").agg({
    "revenue": "sum",
    "profit": "sum"
})

product_profit["profit_margin_%"] = (product_profit["profit"] / product_profit["revenue"]) * 100

product_profit.sort_values("profit_margin_%", ascending=False).head()

                                  revenue     profit  profit_margin_%
label
370g Cashew Butter Salted         12600.0   12600.00       100.000000
720ml Seamoss Pineapple Ginger      950.0     950.00       100.000000
Super Sealing Body Butter 250ml   10200.0   10200.00       100.000000
INSOMNIA TEA 250G                  4000.0    3814.37        95.359250
10g Kenbroth Collagen Sachet     142800.0  132900.00        93.067227

In [ ]:
###The peak months in terms of sales, and which products were sold the most.
sale_items["month"] = sale_items["created_at"].dt.month

In [ ]:
#to get monthly revenue
monthly_sales = sale_items.groupby("month")["revenue"].sum().sort_values(ascending=False)

monthly_sales

month
5     5.074511e+06
2     4.326696e+06
6     3.391475e+06
3     3.284572e+06
1     3.242017e+06
4     1.757237e+06
11    2.442000e+04
Name: revenue, dtype: float64

In [ ]:
##products sold the most?
#have to estimate quantity

In [ ]:
merged["quantity"] = merged["revenue"] / merged["price_x"]

In [ ]:
top_products_quantity = merged.groupby("label")["quantity"].sum().sort_values(ascending=False)

top_products_quantity.head(10)

label
RAW HONEY                       21569.119184
REFINING HONEY                  19695.000000
Refined Honey                    3382.450000
Honey 1kg                        1679.000000
Honey 5liters (7 Kg)              982.142900
10g Kenbroth Collagen Sachet      952.000000
Honey 500g                        627.000000
50g Portioned Honey               609.000000
Propolis Suspension 250ml         575.000000
Peanut Butter (Salted) 800g       483.000000
Name: quantity, dtype: float64

In [ ]:
# Final cleaned datasets

products = pd.read_csv("/Products _2024.csv")
sale_items = pd.read_csv("/Sale _Items.csv")

products["label"] = products["label"].str.lower().str.strip()
sale_items["price"] = pd.to_numeric(sale_items["price"], errors="coerce")

merged = sale_items.merge(
    products,
    left_on="product_code",
    right_on="code",
    how="left"
)

merged["revenue"] = merged["total"]
merged["profit"] = merged["revenue"] - merged["unit_cost"]

merged.to_csv("cleaned_data.csv", index=False)

In [ ]:
merged.to_csv("cleaned_data.csv", index=False)

In [ ]:
merged = pd.read_csv("cleaned_data.csv")

In [ ]:
merged.to_csv("cleaned_data.csv", index=False)

import os
print("Files in directory:")
print(os.listdir())

Files in directory:
['.config', 'cleaned_data.csv', 'sample_data']

In [4]:
import os
print(os.listdir())

['.config', 'sample_data']